html{
}
:root{
    --size:1em;

    --theme-color:#409fff;

    --toolbar-item-size:2.5em;
    --footer-item-size:1.5em;

    --sidebar-padding:0.5em;

    --toolbar-width:calc(2*var(--sidebar-padding) + var(--toolbar-item-size));
    --footer-width:calc(2*var(--sidebar-padding) + var(--footer-item-size));

    --toolbar-item-padding:0.125em;

    --toolbar-gap:0;

    --border:0.015625em;

    --border-radius: 0.5em;

    --shadow-width:0.25em;
    --shadow-width-pushbutton:0.375em;

    --padding-pushbutton:0.5em 1em;

    --checkstate-size:0.25em;
    --checkstate-length:75%;
    --checkstate-border-radius:0.25em;
    --checkstate-gap-width:0.5em;

    --bg-box-shadow-active:var(--theme-color);



    --beautiful-background-image-example:
            radial-gradient(at 40% 20%, hsla(28,100%,74%,50%) 0px, transparent 50%),
            radial-gradient(at 80% 0%, hsla(189,100%,56%,50%) 0px, transparent 50%),
            radial-gradient(at 0% 50%, hsla(355,100%,93%,50%) 0px, transparent 50%),
            radial-gradient(at 80% 50%, hsla(340,100%,76%,50%) 0px, transparent 50%),
            radial-gradient(at 0% 100%, hsla(22,100%,77%,20%) 0px, transparent 50%),
            radial-gradient(at 80% 100%, hsla(241,100%,70%,20%) 0px, transparent 50%),
            radial-gradient(at 0% 0%, hsla(343,100%,76%,20%) 0px, transparent 50%);

    --bg-hover:color-mix(in srgb,5% var(--fg),transparent);
    --bg-active:color-mix(in srgb,10% var(--fg),transparent);

    --checkstate-bg:color-mix(in srgb,5% var(--fg),var(--bg));
    --checkstate-hover-bg:color-mix(in srgb,2.5% var(--fg),var(--bg));

    --checkstate-checked-hover-bg:color-mix(in srgb,30% var(--theme-color),var(--bg-push-button));
    --checkstate-checked-bg:var(--theme-color);


    --bg-push-button:var(--bg);
    --bg-push-button-hover:color-mix(in srgb,10% var(--theme-color),var(--bg-push-button));
    --bg-push-button-active:color-mix(in srgb,20% var(--theme-color),var(--bg-push-button));

    --bg-flat-button-checked:color-mix(in srgb,15% var(--theme-color),var(--bg-push-button));
}
@media screen and (prefers-color-scheme: light) {
    :root {
        --bg: #ffffff;
        --fg: #000000;

        --bg-container:#fafafa;
        --bg-widget:#f8f8f8;
        --bg-toolbar:#ffffff;
        --gray-border:#f0f0f0;
        --fg-icon:#000000;

        --bg-box-shadow:#bbbbbb;

    }
}
@media screen and (prefers-color-scheme: dark) {
    :root {
        --bg: #000000;
        --fg: #ffffff;

        --bg-container:#111111;
        --bg-widget:#181818;
        --bg-toolbar:#000000;
        --gray-border:#333333;
        --fg-icon:#ffffff;


        --bg-box-shadow:#eeeeee;
    }
}