
.push-button{
    background-color: var(--bg);
    padding:var(--padding-pushbutton);
    margin:var(--shadow-width-pushbutton);
    box-shadow: 0 0 var(--shadow-width-pushbutton) var(--bg-box-shadow);
}
.push-button:hover,.push-button:focus-visible{
    box-shadow: 0 0 var(--shadow-width-pushbutton) var(--theme-color);
    background-color:var(--bg-push-button-hover);
    outline:none;
}
.push-button:active:hover,.push-button[clicked]:hover{
    background-color: var(--bg-push-button-active);
}

.push-button[checkable]::before{
    content: "";
    display: inline-block;
    width:var(--checkstate-size);
    height:var(--checkstate-length);
    border-radius:var(--checkstate-border-radius);
    margin-right: var(--checkstate-gap-width);
    background:var(--checkstate-bg);
}
.push-button[checkable][checked]::before{
    background-color:var(--checkstate-checked-bg);
}
