
action-ctrl{
    display: inline-grid;
    grid-auto-flow: column;
    align-items: center;

    overflow: hidden;

    box-sizing: border-box;

    position: relative;

}
action-ctrl:focus{
    outline: none;
}
/*action-ctrl:hover {*/
/*    background-color:var(--bg-hover);*/
/*}*/
/*action-ctrl:active{*/
/*    background-color: var(--bg-active);*/
/*}*/
