.checkbox {
    display: inline-block;
    box-sizing: content-box;
    height:1em;
    border-radius: 1em;
    width:2em;
    padding:0.125em;
    background:var(--signer-bg);
}
.checkbox[checked]{
    box-shadow: none;
}
.checkbox::before {
    content:"";
    display:block;
    height:1em;
    width:1em;
    border-radius:1em;
    background:var(--bg);
    transition: all 0.125s ease-in-out;
}
.checkbox:hover{
    backdrop-filter: blur(1em);
}
.checkbox[checked]:hover::before,.checkbox[checked]:focus-visible::before{
    box-shadow:none;
}
.checkbox:active::before,.checkbox[clicked]::before{
    margin:0.125em;
    height:0.75em;
    width:0.75em;
}
.checkbox[checked]::before{
    transform: translateX(1em);
}
.checkbox[checked]{
    transition: 0.25s;
    background:var(--signer-active-bg);
}